:root {
    --primary-color: hsl(0deg 0% 60%);
    --secondery-color: hsl(0deg 0% 0%);
    --primary-background-color: hsl(0deg 0% 13.33%);
    --secondery-background-color: hsl(0deg 0% 100%);
    --link-color: hsl(0deg 0% 100%);
    --hover-link-color: hsl(0deg 0% 60%);

    --main-font-size: 10px;
    --main-line-height: 10px;
}
