@font-face {
    font-family: alteHaasGroteskBold;
    src: url(../fonts/alteHaasGroteskBold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: alteHaasGroteskBold, serif;
    width: 100vw;
    height: 100vh;
}

.home {
    background: #1e1e1e;
    color: #999999;
    line-height: .9rem;
    padding: 10vh 10vw;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
}

.about {
    background: #ffffff;
    color: #000000;
    line-height: .9em;
    padding: 10vh 10vw;
    font-size: 8rem;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
    .about {
        font-size: 6rem;
    }
}

@media screen and (max-width: 720px) {
    .about {
        font-size: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .about {
        font-size: 4rem;
    }
}

.contact {
    background: #1e1e1e;
    color: #ffffff;
    line-height: .9em;
    padding: 10vh 10vw;
    font-size: 8rem;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .contact {
        font-size: 6rem;
    }
}

@media screen and (max-width: 720px) {
    .contact {
        font-size: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .contact {
        font-size: 4rem;
    }
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    text-decoration: line-through;
}
