html {
    font-family: 'Alte Haas Grotesk', system-ui, sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--primary-background-color);
}

.content {
    position: fixed;
    inset: 0;
    display: grid;
    grid-auto-rows: minmax(100%, auto);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.page {
    display: grid;
    place-items: center;
    padding: var(--main-padding);
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.page:nth-child(odd) {
    --link-color: var(--primary-link-color);

    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

.page:nth-child(even) {
    --link-color: var(--secondary-link-color);

    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
}

.page__link {
    color: var(--link-color);
}

.page__link:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 0.2em;
}

@media (hover: hover) {
    .page__link:hover {
        color: inherit;
    }
}

.page__title {
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
}

.page__text {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
}
