:root {
    --primary-color: hsl(0deg 0% 60%);
    --secondary-color: hsl(0deg 0% 0%);
    --primary-background-color: hsl(0deg 0% 13.33%);
    --secondary-background-color: hsl(0deg 0% 100%);
    --link-color: hsl(0deg 0% 100%);
    --hover-link-color: hsl(0deg 0% 60%);

    --main-font-size: 8px;
    --main-line-height: 8px;
    --main-padding: 8px;
}
