:root {
    --primary-color: hsl(0deg 0% 60%);
    --secondary-color: hsl(0deg 0% 0%);
    --primary-background-color: hsl(0deg 0% 13.33%);
    --secondary-background-color: hsl(0deg 0% 100%);

    --link-color: hsl(0deg 0% 100%);
    --hover-link-color: hsl(0deg 0% 60%);

    --main-font-size: clamp(8px, 1.5vw, 14px);
    --main-line-height: clamp(8px, 1.5vw, 14px);
    --title-font-size: clamp(8rem, 4.5vw, 14rem);
    --title-line-height: clamp(8rem, 4.5vw, 14rem);
    --text-font-size: clamp(4rem, 3vw, 10rem);
    --text-line-height: clamp(4rem, 3vw, 10rem);

    --main-padding: clamp(4rem, 5vw, 16rem);
}
